/* Footer */
footer {
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 10px 20px;
    text-align: center;
    position: relative;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
    height: auto;
    max-height: 100px;
    z-index: -1;
}

footer img {
    width: 80px;
    height: auto;
    margin-bottom: 5px;
}

footer p {
    font-size: 12px;
    margin: 0;
    line-height: 1.4;
}

footer p a {
    color: var(--info-color);
    text-decoration: none;
}

footer p a:hover {
    color: var(--light-color);
    text-decoration: underline;
}
