

/* Footer Grid Düzeni */
.grid-footer {
    background-color: var(--footer-color);
    padding: 0;
    text-align: center;
    color: var(--light-color);
 
  }
  
/* Footer'ın Alt Grid Alanını Düzgün Kaplaması */
.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--footer-color);
    color: #fff;
    width: 100%; 

  }

/* Footer-Oben: Üst Kısım */
.footer-oben {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

.footer-oben,
.footer-unten {
  width: 100%;
}

/* Sol Bölüm */
.footer-left {
    flex: 1;
    align-items: center;
}

.footer-left img {
    max-width: 120px;
    height: auto;
    cursor: pointer;
}

/* Orta Menü */
.footer-center {
    flex: 2;
    text-align: center;
  }

.footer-center .footer-nav ul {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-center .footer-nav ul li a {
    color: var(--light-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-center .footer-nav ul li a:hover {
    color: var(--yellow-color);
}

/* Sağ Bölüm */
.footer-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.payment-icons img {
    max-width: 60px;
    height: auto;
    object-fit: contain;
    transition: transform 0.3s ease;
}

/* Unterer Bereich */
.footer-unten {
    text-align: center;
    margin-top: 20px;
}

.footer-bottom {
    font-size: 14px;
    color:var(--light-color);
}

.footer-bottom a {
    color: var(--yellow-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-bottom a:hover {
    color: var(--light-color);
    border:1px solid var(--light-color);
}

/* Responsive Ayarlar */
@media (max-width: 768px) {
      .footer-container {
        flex-direction: column; 
      }

    .footer-oben {
        flex-direction: column;
        align-items: center;
    }

    .footer-left,
    .footer-center,
    .footer-right {
        width: 100%;
        text-align: center;
    }

    .footer-center .footer-nav ul {
        flex-direction: column;
        gap: 10px;
      }
    .payment-icons img {
        max-width: 50px;
    }
}

@media screen and (min-width: 1100px) {
    .footer-oben {
      flex-direction: row;
      justify-content: space-between; 
    }
  }