/* Navbar */
.navbar {
    background-color: var(--primary-color);
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.navbar li {
    display: inline;
}

.navbar a {
    text-decoration: none;
    color: var(--light-color);
    font-weight: bold;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: var(--light-hover-color);
}

/* Header */
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 10px 20px;
    color: var(--light-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header-content img {
    width: 100px;
    height: auto;
    margin-right: 15px;
    border-radius: 10px; /* Yuvarlatılmış köşeler */
}

.header-content h1 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    color: var(--light-color);
}

.header-content .logo-title {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .header-content h1 {
        font-size: 20px;
    }
    .header-content img {
        width: 70px;
    }
}
