/* Main Content Genel Ayarları */

.main-content {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: background-image 0.5s ease-in-out;
    padding: 20px;
    margin: 0;
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    overflow-y: auto; 
    
}

/* Cinema Details ve Group Info */
.cinema-details, .group-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    color: var(--dark-color);
}

.cinema-details h2, .group-info h2 {
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--light-color);
}

.cinema-details p, .group-info p {
    margin-bottom: 20px;
    line-height: 1.6;
    color: var(--light-color);
}

/* Cinema Actions ve List */
.cinema-actions, .cinema-list {
    margin-top: 20px;
    display: flex;
    gap: 20px; /* Butonlar arasında boşluk */
    justify-content: center;
    flex-wrap: wrap;
}

/* Buttonlar */
.cinema-actions button, .cinema-list button {
    padding: 15px 30px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    transition: all 0.3s ease;
    margin: 10px;
    text-transform: uppercase; /* Büyük harflerle görünüm */
}

/* Primary Button */
.cinema-actions button.btn-primary, .cinema-list button {
    background-color: var(--primary-color);
    color: var(--light-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cinema-actions button.btn-primary:hover, .cinema-list button:hover {
    background-color: var(--primary-hover-color);
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Secondary Button */
.cinema-actions button.btn-secondary {
    background-color: var(--secondary-color);
    color: var(--light-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cinema-actions button.btn-secondary:hover {
    background-color: var(--secondary-hover-color);
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Responsive Ayarlar */
@media (max-width: 768px) {
    .main-content {
        padding: 20px;
        min-height: auto; 
    }

    .cinema-details, .group-info {
        padding: 10px;
    }

    .cinema-actions button, .cinema-list button {
        padding: 10px 20px;
        font-size: 0.9rem;
    }
}
@media screen and (max-width: 1100px) {
    .main-content {
        width: 100%;
        margin: 0 auto;
}
}


@media (min-width: 1100px) {
    .grid-main {
        min-height: auto;
      }


}
