/* Main Content Genel Ayarları */  
.main-content {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: background-image 0.5s ease-in-out;
    padding: 0; /* Kenar boşlukları kaldırıldı */
    margin: 0; /* Kenar boşlukları kaldırıldı */
    width: 100%; /* Tam genişlik ayarlandı */
    box-sizing: border-box; /* Taşma olmaması için kutu boyutu ayarlandı */
}

/* Cinema Details ve Group Info */
.cinema-details, .group-info {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    display: block; /* Inline-block yerine tam genişlik için block */
    width: 100%;
    text-align: center;
    color: var(--dark-color);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Hafif gölge efekti */
}

.cinema-details h2, .group-info h2 {
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.cinema-details p, .group-info p {
    margin-bottom: 20px;
    line-height: 1.6;
}

/* Cinema Actions ve List */
.cinema-actions, .cinema-list {
    margin-top: 20px;
    display: flex;
    gap: 20px; /* Butonlar arasında boşluk */
    justify-content: center;
    flex-wrap: wrap;
}

/* Buttonlar */
.cinema-actions button, .cinema-list button {
    padding: 15px 30px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    transition: all 0.3s ease;
    margin: 10px;
    text-transform: uppercase; /* Büyük harflerle görünüm */
}

/* Primary Button */
.cinema-actions button.btn-primary, .cinema-list button {
    background-color: var(--primary-color);
    color: var(--light-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cinema-actions button.btn-primary:hover, .cinema-list button:hover {
    background-color: var(--primary-hover-color);
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Secondary Button */
.cinema-actions button.btn-secondary {
    background-color: var(--secondary-color);
    color: var(--light-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cinema-actions button.btn-secondary:hover {
    background-color: var(--secondary-hover-color);
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Responsive Ayarlar */
@media (max-width: 768px) {
    .main-content {
        padding: 20px; /* Mobilde iç boşluk eklendi */
    }

    .cinema-details, .group-info {
        padding: 20px;
    }

    .cinema-actions button, .cinema-list button {
        padding: 10px 20px;
        font-size: 0.9rem;
    }
}
