/* Renk Paleti */
:root {
    --primary-color: #007bff;
    --secondary-color: #0056b3;
    --background-color: #f4f4f4;
    --light-color: #ffffff;
    --dark-color: #333333;
    --error-color:red;
    --warning-color: #ff0000;
    --footer-color: #D93A31;
    --primary-color:#D93A31;
    --secondary2-color: #2B2B35;
    --success-color: #28a745;
    --info-color: #17a2b8;
    --font-family-primary: 'Lexend Deca', sans-serif;
    --primary-font-weight: 500;
    --letter-spacing: 0px;
    --font-family-secondary: "Courier New", Courier, monospace;
    --hover-border-color: #28a745; /* Hover durumunda border rengi */
    --text-color: #333; /* Genel metin rengi */
    --card-bg-color: #f8f9fa; /* Kart arka plan rengi */
    --border-color: #ddd; /* Kart sınır rengi */
    --sidebar-width: clamp(80px, 10vw, 200px); /* Sidebar ve Hamburger menü genişliği */
}

/* Temel Ayarlar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: var(--font-family-primary);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
    line-height: 1.2;
    letter-spacing: 1.2px;
    position: relative; /* Arka planın üstüne içerik eklemek için konumlandırmayı relative yapıyoruz */
    overflow-x: hidden;
}
