/* Genel Ayarlar */
.seat-plan {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)); /* Esnek sütun yapısı */
    gap: 10px; /* Koltuklar arası boşluk */
    justify-content: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8); /* Arka plan siyah ve şeffaf */
    border-radius: 10px;
    width: 100%; /* Tam genişlik */
    max-width: 800px; /* Maksimum genişlik */
    margin: 20px auto;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Hafif gölge */
}

/* Koltuklar */
.seat {
    width: 100%; /* Koltuk genişliği grid ile uyumlu */
    aspect-ratio: 1 / 1; /* Kare görünüm */
    background-color: var(--card-bg-color); /* Temel kart rengi */
    border: 2px solid var(--border-color); /* Çerçeve rengi */
    border-radius: 5px;
    font-size: 0.8em;
    font-weight: bold;
    color: var(--text-color);
    text-align: center;
    line-height: 1;
    cursor: pointer;
    transition: all 0.3s ease;
}

.seat:hover {
    transform: scale(1.1); /* Hover'da büyüme efekti */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Hover'da gölge efekti */
}

/* Dolu Koltuk */
.seat.occupied {
    background-color: var(--error-color); /* Kırmızı dolu koltuklar */
    color: #fff;
    cursor: not-allowed;
    border: 2px solid var(--error-border-color);
}

/* Seçilebilir Koltuk */
.seat.available:hover {
    background-color: #5cb85c; /* Yeşil */
    color: white;
    transform: scale(1.1); /* Hafif büyüme efekti */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Seçilmiş Koltuk */
.seat.selected {
    background-color: var(--primary-color); /* Seçili koltuk rengi */
    color: #fff;
    border: 2px solid var(--primary-hover-color);
}

/* Koltuk Etiketleri */
.seat[data-id]:after {
    content: attr(data-id);
    font-size: 0.8em;
    color: white;
    opacity: 0.8;
}

/* Onaylama Butonu */
#confirmSeats {
    margin: 20px auto;
    display: block;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#confirmSeats:hover {
    background-color: var(--hover-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Responsive Tasarım */
@media (max-width: 768px) {
    .seat {
        font-size: 0.7em; /* Küçük ekranlar için daha küçük font */
    }

    .seat-plan {
        grid-template-columns: repeat(auto-fit, minmax(40px, 1fr)); /* Daha küçük koltuk boyutları */
        gap: 8px;
    }
}

@media (max-width: 480px) {
    .seat {
        font-size: 0.6em; /* Daha küçük ekranlar için */
    }
}
