/* Top Section */
.top-section {
    background-color: var(--light-color);
    padding: 40px;
    color: var(--dark-color);
    text-align: left; 
    margin-bottom: 20px;
  }
  
  .top-section h1 {
    font-size: 2.5rem;
    color: var(--primary-color);
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .top-section p {
    margin-bottom: 15px;
    color: var(--secondary-color); 
  }
  
  .top-section .explore-button {
    display: inline-block;
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .top-section .explore-button:hover {
    background-color: var(--primary-hover-color);
    transform: translateY(-3px); /* Hafif yukarı hareket */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Hover gölgesi */
  }
  
  /* Responsive Ayarlar */
  @media (max-width: 768px) {
    .top-section {
      padding: 20px;
    }
  
    .top-section h1 {
      font-size: 2rem;
    }
  
    .top-section p {
      font-size: 1rem;
    }
  
    .top-section .explore-button {
      padding: 8px 20px;
      font-size: 0.9rem;
    }
  }
  
  @media (min-width: 1100px) {
    .top-section {
      margin-right: 20px; /* Yan yana yerleşimde sağ boşluk */
    }
  }
  